* {
    margin:0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}
html, body {
    height: 100%;
}
a {
    text-decoration: none;
}
/* for navbar */
.navbar {
    display: flex;
    height: 20px;
    background-color: #000000;
    height: 50px;
    justify-content: center;
}
.nav-content {
    margin: 0px;
    padding: 0px;
}
.navbar > div {
    margin-left: 2px;
    border-right: 1px solid #ffffff69;
    height: 100%;
    display:flex;
    align-items: stretch;
}
.navbar-item, .log-button {
    color: #fff;
    display: inline-block;
    height: 47px;
    line-height: 50px;
    border-bottom: 3px solid transparent;
    padding: 0px 20px;
}
.navbar-item:hover {
    border-bottom: 3px solid orange;
}
.log-button:hover {
    color: orange;
}
.menu-button {
    display: none;
}
.inline-block {
    display: inline-block !important;
}
.align-middle {
    vertical-align: middle !important;
}
#navbar {
    width: 100%;
}
#nav-active {
    display:none;
}
ul, li {
    list-style: none;
}
h2, h3, h4 {
    font-size: 1.5em;
}
@media screen and (max-width: 965px) {
    .navbar > div {
        border-right: none;
    }
    .menu-button {
        display: block;
        position: absolute;
        top: 13px;
        right: 20px;
        z-index: 999;
        text-align: center;
        width: 50px;
    }
    .nav-content {
        z-index: 998;
        position:fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(-120deg, #ffa600 , #000 );
        clip-path: circle(20px at calc(100% - 47px) 26px);
        transition: all 0.3s ease-in-out;
    }
    #nav-active:checked ~ .nav-content {
        clip-path: circle(75%);
    }
    .main-navbar {
        position:absolute;
        left: 50%;
        transform:translate(-50%, 50%);
        text-align:center;
    }
    .navbar-item {
        font-size: 30px;
        font-weight: 200;
        color: #fff;
        display: block;
        position: relative;
    } 
}
@media screen and (max-width:400px) {
    .navbar-item {
        font-size: 20px;
    }
}
/* footer */
footer {
    background-color: #000 !important;
    color: #fff !important;
    padding: 20px !important;
    position: relative;
    z-index: -1;
}
.left-footer, .right-footer {
    display: inline-block;
    width:49%;
}
.right-footer {
    text-align: center;
}
.social-media > div {
    height: 50px !important;
    width: 50px !important;
    border:1px solid orange !important;
    border-radius: 100%;
    margin-left: .625rem;
    margin-right: .625rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.social-icon {
    width: 24px;
    height: 24px;
    stroke-width: 1;
    position: relative !important;
    color: white;
    fill: currentColor;
}
.social-icon:hover {
    color: orange;
}
@media screen and (max-width: 670px) {
    .left-footer, .right-footer {
        display: block;
        width: 100%;
        margin-top: 10px;
    }
}
/* back to top */
#back-to-top {
    display: none;
    position: fixed; 
    bottom: 20px; 
    right: 30px;
    z-index: 2; 
    background-color: #fff;
    border-radius: 100%;
    border: 1px solid black;
    animation: fadeinEff 1.5s;
}
#back-to-top:hover {
    border: 1px solid orange;
}
@keyframes fadeinEff {
    from {opacity: 0;}
    to {opacity: 1;}
}