* {
    margin:0;
    padding: 0;
}
a {
    text-decoration: none;
}
.navbar {
    display: flex;
    height: 20px;
    background-color: #000;
    height: 50px;
    justify-content: center;
    /* align-items: center; */
}
.navbar > div {
    margin-left: 2px;
    border-right: 1px solid #ffffff69;
    height: 100%;
    display:flex;
    align-items: stretch;
}
.navbar-item, .log-button {
    color: #fff;
    display: inline-block;
    height: 47px;
    line-height: 50px;
    border-bottom: 3px solid transparent;
    padding: 0px 10px;
}
.navbar-item:hover {
    border-bottom: 3px solid orange;
}
.log-button:hover {
    background-color: orange;
    border-radius: 3px;
}